interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer MEDILINK_TOKEN_REDACTED
    method: GET
    uri: https://api.medilink2.healthatom.com/api/v5/especialidades/73/proxima?id_sucursal=1
  response:
    body:
      string: '{"fecha":"16/05/2026","id_profesional":73,"id_especialidad":73,"nombre_especialidad":"Medicina
        General","nombre_profesional":"Andr\u00e9s Abarca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
